<%if @login_user.nil? %>
    <!-- 로그인 되지 않은 상태 -->
    <p>현재 로그인 된 유저가 없습니다.</p>
    <%=link_to "로그인", "/sign_in" %>
<%else%>
    <p>현재 로그인 된 유저: <%=@login_user.user_id%></p>
    <%= link_to '로그아웃', '/logout' %>
<%end%>
<ul>
    <% @users.each do |user| %>
    <li><%= link_to user.user_id, "/user/#{user.id}" %></li>
    <%end%>
</ul>
<%=link_to "회원가입하기", "/sign_up"%>